:host {

    .example-flex-container {
        display: flex;
        max-width: 1920px;
        margin-bottom: 40px;
        padding: 0 75px;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }

    .example-button-row {
        width: 100%;
        padding-top: 20px;
    }

    .example-button-container {
        display: flex;
        justify-content: space-between;
        
    }

    .example-button {
        width: 45%;
    }
}