<section>
  <div class="example-flex-container">
    <div class="example-button-row">
      <div class="example-button-container">
        <button class="example-button" mat-raised-button color="primary" [routerLink] = "['/home']" routerLinkActive="active" ariaCurrentWhenActive="page">На главную</button>
        <button class="example-button" mat-raised-button color="primary" [routerLink] = "['/table']" routerLinkActive="active" ariaCurrentWhenActive="page">Таблица</button>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>