:host {

    .style-title {
        text-align: center;
        font-weight: bold;
    }

    .style-elem {
        text-align: center;
    }

    .mdc-fab {
        height: 37px;
        width: 37px;
    }

}